{% extends 'layout.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}
    <div class="container mt-4" id="main">
        {% include 'partials/_notifications.html' %}
        {% include 'partials/_reg-log-header.html' %}
		<!-- Register Form -->
		<div class="col-6 mx-auto" id="register-form-block">
			<p class="text-center"Register Form</p>
			<form class="mx-auto" action="{% url 'register' %}" method="POST" id="register-block">
				{% csrf_token %}
				<div class="form-group row mb-3">
					<label for="username" class="col-sm-2 col-form-label">Username</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
						<div class="valid-feedback">
							Username looks good!
						</div>
						<div class="invalid-feedback">
							Please fill Username field.
						</div>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="email"class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input class="form-control" type="email" name="email" id="email" placeholder="email@example.com">
						<div class="valid-feedback">
							Email looks good!
						</div>
						<div class="invalid-feedback">
							Please fill Email field.
						</div>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="first-name"class="col-sm-2 col-form-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="first_name" id="first-name" placeholder="First Name">
						<div class="valid-feedback">
							First Name looks good!
						</div>
						<div class="invalid-feedback">
							Please fill First Name field.
						</div>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="first-name"class="col-sm-2 col-form-label">Last Name</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="last_name" id="last-name" placeholder="Last Name">
						<div class="valid-feedback">
							Last Name looks good!
						</div>
						<div class="invalid-feedback">
							Please fill Last Name field.
						</div>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="password" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
						<div class="valid-feedback">
							Password looks good!
						</div>
						<div class="invalid-feedback">
							Please fill Password field.
						</div>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="password" class="col-sm-2 col-form-label">Repeat Password</label>
					<div class="col-sm-10">
						<input class="form-control" type="password" name="password1" id="password1" placeholder="Repeat Password" required>
						<div class="valid-feedback">
							Repeated password looks good!
						</div>
						<div class="invalid-feedback">
							Please fill Repeat Password field.
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<a href="{% url 'register' %}" class="btn btn-outline-primary" type="submit">log in (if u have account)</a>
					<p class="mx-3 mb-0 align-self-center">or</p>
					<button class="btn btn-primary text-white text-decoration-none">
						sign in
					</button>
				</div>
			</form>
		</div>
		<!-- End Register Form -->
	</div>
{% endblock content %}