.contacts {
    
    .contact-me {
        margin-bottom: 50px;
        .contact-title {
            margin-bottom: 60px;
        }
        .contact-form {
            flex-direction: column;
            display: flex;
            margin-top: 20px;
            width: 100%;
            input, textarea {
                margin-bottom: 20px;
                padding: 10px;
                outline: none;
                font-size: 20px;
            }
            // button {
            //     border: none;
            //     background-color: @gray;
            //     padding: 10px;
            //     font-style: italic;
            //     font-size: 20px;
            //     font-weight: 600;
            //     outline: none;
            //     transition: 0.15s;
            //     margin-top: 40px;
            //     &:hover {
            //         background-color: @fuchsia_rose;
            //     }
            // }
        }
    }
}
