{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container" id="main">
        <!-- Notifications -->
		<div class="alert alert-dismissible alert-danger" id="notification-error">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			<strong>Notification</strong> Username or Password is incorrect!</a>
		</div>
		<!-- End Notifications -->
        <!-- Header -->
		<div class="my-5 d-flex justify-content-center" id="header-logo">
			<p class="text-center">Header Logo</p>
			<img class="img-thumbnail" src="{% static './img/test_logo.png' %}" alt="todos_img" style="width: 210px;">
		</div>
		<!-- End Header -->
		<!-- Login Form -->
		<div class="col-6 mx-auto" id="login-form-block">
			<p class="text-center">Login Form</p>
			<form class="mx-auto" action="" id="login-block">
				<div class="form-group row mb-3">
					<label for="username" class="col-sm-2 col-form-label">Username</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label for="password" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="password" id="password" placeholder="Password" required>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<button class="btn btn-outline-primary" type="submit">login</button>
					<p class="mx-3 mb-0 align-self-center">or</p>
					<button class="btn btn-primary">
						<a class="text-white text-decoration-none" href="start_template_register.html">register</a>
					</button>
				</div>
			</form>
		</div>
		<!-- End Task Form -->
	</div>
{% endblock content %}