 {% extends 'layout.html' %}
 {% load static %}
 {% block title %}Log In{% endblock title %}
 {% block content %}
	<!-- breadcrumb start-->
	<section class="breadcrumb breadcrumb_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb_iner">
						<div class="breadcrumb_iner_item">
							<p>home. login</p>
							<h2>Log In</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb start-->

	<!-- ================ contact section start ================= -->
	<section class="contact-section section_padding">
		<div class="container">

			<div class="row">
				<div class="col-12">
					<h2 class="contact-title">Get in Touch</h2>
				</div>
				<div class="col-lg-8">
					<form class="form-contact contact_form" action="{% url 'login' %}" method="POST" id="loginForm" novalidate="novalidate">
						{% csrf_token %}
						<div class="form-group row mb-3">
							<label for="username" class="col-sm-2 col-form-label">Username</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
								<div class="valid-feedback">
									Username looks good!
								</div>
								<div class="invalid-feedback">
									Please fill Username field.
								</div>
							</div>
						</div>
						<div class="form-group row mb-3">
							<label for="password" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-10">
								<input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
								<div class="valid-feedback">
									Password looks good!
								</div>
								<div class="invalid-feedback">
									Please fill Password field.
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-lg-center flex-lg-row flex-sm-column flex-xs-column">
							<button class="button button-contactForm btn_4 mt-0" type="submit">log in</button>
							<p class="mx-3 mb-0 align-self-center">or</p>
							<button class="button button-contactForm btn_4 mt-0">
								<a class="text-white text-decoration-none" href="{% url 'signin' %}">sign in (if u dont have account)</a>
							</button>
						</div>
					</form>
				</div>
				<div class="col-lg-4 mt-5">
					<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-home"></i></span>
					<div class="media-body">
						<h3>Buttonwood, California.</h3>
						<p>Rosemead, CA 91770</p>
					</div>
					</div>
					<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-tablet"></i></span>
					<div class="media-body">
						<h3>00 (440) 9865 562</h3>
						<p>Mon to Fri 9am to 6pm</p>
					</div>
					</div>
					<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-email"></i></span>
					<div class="media-body">
						<h3>support@colorlib.com</h3>
						<p>Send us your query anytime!</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 {% endblock content %}