@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

h3 {
    font-size: 35px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: magenta;
    transition: 0.15s;
    &:hover {
        color: white;
        text-shadow: -0.5px -0.5px 0 lightgreen, 0.5px 0.5px 0 magenta;
    }
}

abbr {
    text-decoration: none;
}

p:not(:last-child) {
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.layout-12 {
    width: 1116px;
    margin: 0px auto;
}

.layout-03 {
    width: 252px;
}

.layout-06 {
    width: 540px;
}

.layout-09 {
    width: 792px;
}

.col {
    margin-right: 36px;
    display: inline-block;
}

.col:last-child {
    margin-right: 0px;
}

.layout-06 .layout-03.col:nth-child(2n) {
    margin-right: 0px;
}

.layout-03.col:nth-child(3n) {
    margin-right: 0px;
}

.layout-06.col:nth-child(2n) {
    margin-right: 0px;
}