{% extends 'layout.html' %}
{% load static %}
{% block title %} EMAILS{% endblock title %}
{% block content %}
    <h1 class='fs-1 fw-bold text-primary text-center mb-5'>Рассылка email</h1>

    <div class="shadow p-3">
        <form action='{% url 'emails' %}' method='GET'>
            {% csrf_token %}
            <p class="fw-bold text-primary">Фильтры</p>
            <div class='mb-3'>
                {% for g in guests %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <a href="?filter={{g.excursion.pk}}" class='text-decoration-none text-dark' name='excursion'>
                            {{g.excursion}}
                        </a>
                    </label>
                    <span>( <a href="{% url 'send_email_to_exc_guests' g.excursion.pk %}" class='text-decoration-none'>Отправить всем ({{g.excursion.number_of_visitors}})</a> )</span>
                </div>
                {% endfor %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <a href="?filter=" class='text-decoration-none text-dark' name='excursion'>
                            Все экскурсии
                        </a>
                    </label>
                </div>
            </div>
            <div class='btn-group'>
                <button type="submit" class="btn btn-primary rounded-end" style='margin-right: 10px;'>Отфильтровать</button>
                <a role="button" class="btn btn-danger rounded-start" href=''>Сбросить</a>
            </div>
        </form>
    </div>

    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th class='text-muted fw-light'>id</th>
                <th class='text-muted fw-light'>Имя</th>
                <th class='text-muted fw-light'>Фамилия</th>
                <th class='text-muted fw-light'>Телефон</th>
                <th class='text-muted fw-light'>Email</th>
                <th class='text-muted fw-light'>Зарегистрирован</th>
                <th class='text-muted fw-light'>Экскурсия</th>
                <th class='text-muted fw-light'>Статус отправки email</th>
                <th class='text-muted fw-light'>Статус доставки email</th>
                <th class='text-muted fw-light'>Событие</th>
                <th class='text-muted fw-light'>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for g in guests %}
            <tr>
                <td>{{g.pk}}</td>
                <td>{{g.first_name}}</td>
                <td>{{g.last_name}}</td>
                <td>{{g.phone}}</td>
                <td>{{g.email}}</td>
                <td>{{g.registered_at}}</td>
                <td>{{g.excursion}}</td>
                <td>{% if g.email_status %}да{% else %}нет{% endif %}</td>
                <td>{% if g.email_send %}да{% else %}нет{% endif %}</td>
                <td>{{g.event}}</td>
                <td>
                    <a href="{% url 'send_email_to_guest' g.pk %}" class="btn btn-primary btn-sm {% if g.email_status %}disabled{% endif %}" tabindex="-1" role="button" aria-disabled="{% if g.email_status %}false{% endif %}">Отправить email</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            {% if guests.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{guests.previous_page_number}}{{query_string}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for i in guests.paginator.page_range %}
            {% if guests.number == i %}
            <li class="page-item active"><span class="page-link">{{i}}</span></li>
            {% else %}
            <li class="page-item"><a href="?page={{i}}{{query_string}}" class="page-link">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if blogs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{guests.next_page_number}}{{query_string}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}