{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title %} Blog{% endblock title %}
{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb_iner">
              <div class="breadcrumb_iner_item">
                <p>home. blog</p>
                <h2>my blog</h2>
                <div class='mt-5'>
                  <a href="{% url 'create_blog' %}" class="btn_1">Create blogpost</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
              {% for blog in blogs %}
              <article class="blog_item">
                <div class="blog_item_img">
                  {% thumbnail blog.image 750x375 crop upscale as thumb %}
                  <img
                    class="card-img rounded-0"
                    src="{{thumb.url}}"
                    alt=""
                  />
                  <a href="{% url 'single_blog' blog.author.user.username blog.slug %}" class="blog_item_date">
                    <h3>{{blog.created_at}}</h3>
                  </a>
                </div>

                <div class="blog_details">
                  <a class="d-inline-block" href="{% url 'single_blog' blog.author.user.username blog.slug %}">
                    <h2>{{blog.title}}</h2>
                  </a>
                  <p>
                    {{blog.text_slug}}
                  </p>
                  <ul class="blog-info-link">
                    <li>
                      <a href="#"><i class="far fa-user"></i>{{blog.category}}</a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-comments"></i>{{blog.comments.all.count}} Comments</a>
                    </li>
                    <li>
                      <a href="#"><i class="far fa-heart"></i>{{blog.likes|length}} People like this</a>
                    </li>
                  </ul>
                </div>
              </article>
              {% endfor %}
              {% if blogs %}
              <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                  {% comment %} <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                      <i class="ti-angle-left"></i>
                    </a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link">1</a>
                  </li>
                  <li class="page-item active">
                    <a href="#" class="page-link">2</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                      <i class="ti-angle-right"></i>
                    </a>
                  </li> {% endcomment %}
                  {% if blogs.has_previous %}
                  <li class="page-item">
                    <a href="/?page={{blogs.previous_page_number}}{{query_string}}" class="page-link" aria-label="Previous">
                      <i class="ti-angle-left"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% for i in blogs.paginator.page_range %}
                  {% if blogs.number == i %}
                  <li class="page-item"><span class='active page-link'>{{i}}</span></li>
                  {% else %}
                  <li class="page-item"><a href="/?page={{i}}{{query_string}}" class="page-link">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if blogs.has_next %}
                  <li class="page-item">
                    <a href="/?page={{blogs.next_page_number}}{{query_string}}" class="page-link" aria-label="Next">
                      <i class="ti-angle-right"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
              {% else %}
              <h3 class='text-center'>Blogs not found</h3>
              <div class='d-flex justify-content-center'>
                <a href="/blogs" class="button rounded-0 primary-bg text-white btn_4">Return</a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-4">
            {% include 'partials/_sidebar.html' %}
          </div>
        </div>
      </div>
    </section>
    <!--================Blog Area =================-->

{% endblock content %}
