{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title %} {{blog.title}}{% endblock title %}
{% block content %}
   <!-- breadcrumb start-->
   {% if blog.author.user == profile.user %}
      <section class="breadcrumb" style="background-image: url('/media/{{blog.image}}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
         <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <p>Blog</p>
                     <h2>{{blog.title}}</h2>
                     {% if blog.author.user == request.user %}
                     <div class='mt-5'>
                        <a href="{% url 'edit_blog' blog.author.user.username blog.slug %}" class="btn_1">Edit blogpost</a>
                      </div>
                      {% endif %}
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
      <!-- breadcrumb start-->

      <!--================Blog Area =================-->
      <section class="blog_area single-post-area section_padding pt-0">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="blog_details">
                        <ul class="blog-info-link mt-3 mb-4 d-flex align-items-center">
                           <li>
                              <span class='mr-0' style='font-size: 14px;'><i class="far fa-user"></i>{{blog.category}}</span>
                           </li>
                           <li>
                              <span class='mr-0' style='font-size: 14px;' id="numLikes"><i class="far fa-heart"></i>{{blog.likes|length}}</span>
                           </li>
                           <li>
                              <span class='mr-0' style='font-size: 14px;'><i class="far fa-comments"></i>{{blog.comments.all.count}} Comment(s)</span>
                           </li>
                           <li class='tags d-flex'>Tags: 
                              <ul class='tags__list ml-1'>
                                 {% with names=blog.tags.names %} 
                                 {% if names.count > 0 %} 
                                    {% for name in names %} 
                                    <li><a style='font-size: 14px;' class='border px-2 py-1' href="#">{{name}}</a></li>
                                    {% endfor %} 
                                 {% endif %} 
                                 {% endwith %}
                              </ul>
                           </li> 
                        </ul>
                        {% comment %} <p>
                        </p> {% endcomment %}
                        {{blog.text|linebreaks}}
                        {% comment %} <div class="quote-wrapper">
                           <div class="quotes">
                              MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                              should have to spend money on boot camp when you can get the MCSE study materials yourself at
                              a fraction of the camp price. However, who has the willpower to actually sit through a
                              self-imposed MCSE training.
                           </div>
                        </div> {% endcomment %}
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center align-items-center">
                        {% if user.is_authenticated %}
                        <div class="like-info" id="numLikes">
                           <span class="align-middle mr-0" style='cursor: pointer;' onclick="addOrRemoveLike({{blog.id}})">
                              <i class="far fa-heart mr-0"></i>
                           </span>{{blog.likes|length}}
                        </div>
                        {% endif %}
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <p class="comment-count"><span class="align-middle mr-0"><i class="far fa-comment"></i></span>{{blog.comments.all.count}} Comments</p>
                        </div>
                        <ul class="social-icons">
                           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                     </div>
                     <div class="navigation-area">
                        <div class="row">
                           <div
                              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="{% static './img/post/preview.png' %}" alt="">
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-left"></span>
                                 </a>
                              </div>
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="#">
                                    <h4>Space The Final Frontier</h4>
                                 </a>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="#">
                                    <h4>Telescopes 101</h4>
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-right"></span>
                                 </a>
                              </div>
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="{% static './img/post/next.png' %}" alt="">
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-author">
                     {% if blog.author.id == profile.user.id %}
                     <div class="media align-items-center">
                        {% thumbnail profile.profile_image 90x90 as thumb %}
                        <img src="{{thumb.url}}" alt="">
                        <div class="media-body">
                           <a href="{% url 'get_user_profile' user.username %}">
                              <h4>{{blog.author.user.get_full_name}}</h4>
                           </a>
                           <p>{{profile.about}}</p>
                        </div>
                     </div>
                     {% endif %}
                  </div>
                  <div class="comments-area">
                     <h4>{{blog.comments.all.count}} Comment(s)</h4>
                     {% for comment in blog.comments.all %}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 {% thumbnail comment.author.profile_image 40x40 as thumb %}
                                 <img src="{{thumb.url}}" alt="" style='width: 40px;'>
                              </div>
                              <div class="desc">
                                 {{comment.text|linebreaks}}
                                 <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                       <h5>
                                          <a href="#">{{comment.author.user.get_full_name}}</a>
                                       </h5>
                                       <p class="date">{{comment.created_at}}</p>
                                    </div>
                                    <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                    {% if user.id == comment.author.user.id %}
                                    {% comment %} <div>
                                       <a href="{% url 'delete_comment' blog.id comment.id %}"
                                       class=""><i class="fa fa-trash"></i></a>
                                    </div> {% endcomment %}
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  {% if user.is_authenticated %}
                  <div class="comment-form">
                     <h4>Leave a Reply</h4>
                     <form class="form-contact comment_form" action="{% url 'leave_comment_to_blog' blog.author.user.username blog.slug %}" method='POST' id="commentForm">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-12">
                              <div class="form-group">
                                 <textarea class="form-control w-100" name="text" id="text" cols="30" rows="9" placeholder="Write Comment" required></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="button button-contactForm">Send Message</button>
                        </div>
                     </form>
                  </div>
                  {% endif %}
               </div>
               <div class="col-lg-4">
                  {% include 'partials/_sidebar.html' %}
               </div>
            </div>
         </div>
      </section>
      <!--================Blog Area end =================-->
   {% endif %}
   {% comment %} {% for blog in blogs %}
   {% endfor %} {% endcomment %}
{% endblock content %}