{% load static %}
<header class='d-flex justify-content-between align-items-center'>
    <div class='logo'>
        <a href="/">
            <img class='logo_img' src="{% static './img/logo.png' %}" alt="">
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{user.get_full_name}}</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
          </ul>
    </div>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-light">Войти</a>
    {% endif %}
</header>